* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

p,
label {
    font-size: 13px;
}

input {
    font-size: 15px;
    outline: none;
}

body {
    height: 28cm;
    width: 100vw;
}

.container {
    width: 18.8cm;
    height: 28cm;
    margin: auto;
    border: 1px solid black;
    display: flex;
}

form {
    width: 18.1cm;
    height: 28cm;
    margin-left: 0.3cm;
    margin-right: 0.4cm;
}

.header {
    width: 18.1cm;
    height: 8.4cm;
}

.co {
    width: 18.1cm;
    height: 4.6cm;
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    /* push children to the right */
    align-items: flex-start;
    /* align to top of .co */
}

.co .formName {
    width: 5.5cm;
    height: 3.8cm;
    display: flex;
    flex-direction: column;
}

.co .formName .nameSection {
    width: 5.5cm;
    height: 3.1cm;
    border: 1px solid blue;
}

.co .formName .formNumber {
    width: 5.3cm;
    height: 0.7cm;
    border: 1px solid purple;
    margin-left: 0.2cm;
    display: flex;
}

.co .formName .formNumber label {
    width: 0.7cm;
    height: 0.7cm;
}

.co .formName .formNumber input {
    width: 4.6cm;
    height: 0.7;
    text-align: center;
    font-size: 25px;
    color: red;
    font-weight: bold;
}

.customer {
    width: 18.1cm;
    height: 3.7cm;
    display: flex;
}

.customer .left {
    width: 9.3cm;
    height: 3.7cm;
}

.customer .left p {
    height: 0.55cm;
    width: 9.3cm;
}

.customer .left .inputArea {
    width: 9.3cm;
    height: 2.8cm;
    display: flex;
    flex-direction: column;
}

.left .inputArea .name,
.left .inputArea .company {
    width: 9.3cm;
    height: 0.7cm;
    font-size: 15px;
    box-sizing: border-box;
}

.left .inputArea .address {
    width: 9.3cm;
    height: 1.4cm;
    font-size: 15px;
    resize: none;
    line-height: 0.7cm;
    overflow: hidden;
    white-space: pre-wrap;
}

.right {
    width: 8.8cm;
    height: 2.8cm;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

.right .detail {
    width: 8cm;
    height: 0.7cm;
    display: flex;
    justify-content: flex-end;
    margin-left: 0.8cm;
}

.right .detail label {
    width: 3.1cm;
    height: 0.7cm;
    display: flex;
    align-items: flex-end;
}

.right .detail input {
    width: 4.9cm;
    height: 0.7cm;
    text-align: center;
}

.right .detail div {
    display: flex;
    width: 4.9cm;
    height: 0.7cm;
}

.right .detail div .sm-input {
    width: 2.45cm;
    height: 0.7cm;
    text-align: center;
}

.content {
    width: 18.1cm;
    height: 14cm;
}

.content table {
    width: 18.1cm;
    height: 10.6cm;
    border-collapse: collapse;
}

.content table thead {
    width: 18.1cm;
    height: 0.8cm;
}

.content table tbody {
    width: 18.1cm;
    height: 9.8cm;
}

.content table tbody tr {
    width: 18.1cm;
    height: calc(9.8cm / 12);
    max-height: 0.8cm;
}


th,
tr,
td,
td input {
    border: 1px solid black;
    text-align: center;
}

th {
    font-size: 13px;
    text-transform: uppercase;
}

td input {
    width: 100%;
    height: 0.8cm;
    border: none;
    outline: none;
    font-size: 15px;
}

table .sttHead {
    width: 1.1cm;
    height: 0.8cm;
}

table .prodNameHead {
    width: 8.7cm;
    height: 0.8cm;
}

table .quantityHead,
table .codeHead {
    width: 3cm;
    height: 0.8cm;
}

table .unityHead {
    width: 2.3cm;
    height: 0.8cm;
}

.product-select {
    /* Basic styling */
    appearance: none;
    /* Standard */
    -webkit-appearance: none;
    /* Safari/Chrome */
    -moz-appearance: none;
    /* Firefox */
    background-image: none;

    border: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0.8cm;
    width: 8.7cm;
    word-break: break-word;
    white-space: normal;
    /* Allow wrapping if browser supports */

}


.content .transport {
    width: 18.1cm;
    height: 3.4cm;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

.content .transport .transfer {
    width: 18.1cm;
    height: 2.55cm;
    display: flex;
    flex-direction: column;
}

.content .transport .transfer label {
    width: 18.1cm;
    height: 0.85cm;
    display: flex;
    align-items: center;
}

.content .transport .transfer textarea {
    width: 18.1cm;
    height: 1.7cm;
    font-size: 15px;
    resize: none;
    line-height: 0.85cm;
    overflow: hidden;
    white-space: pre-wrap;
}

.content .transport .truck {
    width: 18.1cm;
    height: 0.85cm;
    display: flex;
}

.content .transport .truck .truckNumber {
    height: 0.85cm;
    width: 8.1cm;
    display: flex;
}

.content .transport .truck .truckNumber label {
    height: 0.85cm;
    width: 3cm;
    display: flex;
    align-items: center
}

.content .transport .truck .truckNumber input {
    height: 0.85cm;
    width: 5.1cm;
}

.content .transport .truck .driver {
    height: 0.85cm;
    width: 10cm;
    display: flex;
}

.content .transport .truck .driver label {
    height: 0.85cm;
    width: 2cm;
    display: flex;
    align-items: center
}

.content .transport .truck .driver input {
    height: 0.85cm;
    width: 8cm;
}

.footer {
    width: 18.1cm;
    height: 5.7cm;
    display: flex;
    align-items: center;
}

.footer button {
    width: 9cm;
    height: 2.8cm;
}

@media print {
    @page {
        width: 18.8cm;
        height: 28cm;
        padding: 0 !important;
        margin: 0 !important;
    }

    html,
    body {
        width: 18.8cm;
        height: 28cm;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        page-break-after: avoid;
    }

    body * {
        visibility: hidden;
    }

    .container {
        width: 18.8cm;
        height: 28cm;
        padding: 0 !important;
        margin: 0 !important;
        overflow: hidden;
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    #print-button,
    #select-file-button,
    #submit {
        visibility: hidden;
        display: none !important;
    }

    textarea,
    input,
    div input,
    table,
    table *,
    tbody,
    tbody *,
    tr,
    td,
    select,
    select option {
        visibility: visible;
        border: none !important;
        outline: none !important;
        border-collapse: collapse !important;
        background: transparent !important;
        box-shadow: none !important;
        resize: none !important;
        overflow: hidden !important;
        page-break-inside: avoid;
    }

    table thead,
    table thead th {
        visibility: hidden;
        border: none;
        outline: none;
    }

    .header,
    .content,
    .footer {
        page-break-inside: avoid;
    }
}